body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
}
.menu{
    
    padding: 30px;
    background-color:   #F47920;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    

}

.section{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: darkgoldenrod;
    height: 300px;
}
.aside{
    float: left;
    padding: 20px;
    width: 30%;
    background-color: darkgoldenrod;
    height: 300px;

}
