
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,table{
 
 width: 100%;
}


aside {
    float: left;
    height: auto;
    background: #ccc;
    padding: 10px;
    background-color: #005883;
}


nav ul {
    list-style-type: none;
    
}



section:after {
    content: "";
    display: table;
    clear: both;
    
    
}
section table{
    background-color:#005883;
}
nav{
    background-color:#F47920;
    color: black;
    text-align: center;
    padding: 0.5%;
    width: 99%;
}

footer {
    background-color: #005883;
    padding: 10px;
    text-align: center;
    color: white;
    
}


.menu li{
    display: inline-block;
}
li a, boton{
    display:inline-block ;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.9em;
}
.listaDesplegable{
    display: none;
    background-color:#F47920;
    position: absolute;
}
.listaDesplegable a{
    color:white ;
    display: block;
    text-align: left;

}
.boton:hover .listaDesplegable{
    display: block;
}
li a:hover{
    background-color: #F47920;

}
h1,h2{
    color: #F47920;
}
section{
    background-color: #005883;
    padding: 8%;

}


